#root {
  width: 100%;
  margin: 0 auto;
}

form,
label {
  display: grid;
  gap: 0.25rem;
}

/* styling for the background image and main body */
body {
    background-image: url("/cave.jpeg");
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}

/*center the text and contain on screen */

.container {
  display: felx;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  max-width: 600px;
  margin: 0 auto;
}


/* styling for the story phase beginning section */

.storyText {
  background-color: rgba(0, 0, 0, .6);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1rem;
  text-align: center;
  color: white;
  padding: 1rem;
  border-radius: 1rem;
}

/* styling for the badger speaking phase */

.badgerText {
  background-color: rgba(0, 0, 0, .6);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1rem;
  text-align: center;
  color: white;
  padding: 1rem;
  border-radius: 1rem;
}

/* styling for the name input phase */
.nameInput {
  background-color: rgba(0, 0, 0, .6);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1rem;
  text-align: center;
  color: white;
  padding: 1rem;
  border-radius: .5rem;
  width: auto;
  padding: .5rem;
}







/*.  this will be used to move my badger from the back of the screen to the front ease-out forwards means the apporach will be slower. Forwards means it will stay in the position it ends up in . this will be the animation for the badgers  */
@keyframes badgerBlock {
  from{
    transform: translateX(-100%) scale(.5);
    opacity: 0;
  }
    to {
      transform: translateX(0) scale(1);
      opacity: 1;

    }
}



.badger1 {

  animation: badgerBlock 2s ease-out forwards;

}



.badger2 {

animation: badgerBlock 1.5s ease-out forwards;


}