#root {
  width: 100%;
  margin: 0 auto;
}

form,
label {
  display: grid;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.3rem;
  text-align: center;
  gap: 0.25rem;
}

/* styling for the background image and main body */
body {
    background-image: url("/cave.jpeg");
    background-size: cover;
    background-position: center;
    position: relative;
    min-height: 100vh;
}

/*center the text and contain on screen */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 600px;
  min-height: 100vh;
  margin: 0 auto;
}


/* styling for the story phase beginning section */

.storyText {
  background-color: rgba(0, 0, 0, .6);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.2rem;
  text-align: center;
  color: white;
  padding: 1rem;
  border-radius: 1rem;
}

/* styling for the badger speaking phase */

.badgerText {
  background-color: rgba(0, 0, 0, .6);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.2rem;
  text-align: center;
  color: white;
  padding: 1rem;
  border-radius: 1rem;
}

/* styling for the name input phase */
.nameInput {
  background-color: rgba(0, 0, 0, .6);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.2rem;
  text-align: center;
  color: white;
  padding: 1rem;
  border-radius: .5rem;
  min-height: 3rem;
  max-width: 400px;
  width: 100%;
  padding: .75rem;
}


/* styling for the input field */
.scrollInput input {
    background-color: rgba(207, 168, 52, 0.574);
    box-shadow: #1a3a0f;
    min-height: 1.5rem;
    padding-right: 5%;
    margin-left: 20%;
    width: 50%;
    font-size: 1rem;
    border-radius: 0.5rem;
}

/*to make enter your name section black */
.scrollInput label {
  color: black;

}

/* styling for the buttons
button {
    background-color: #2d5a1b;
    color: white;
    padding: 0.75rem 2rem;
    border: none;
    border-radius: 1rem;
    font-size: 1rem;
    cursor: pointer;
}


button:hover {
    background-color: #1a3a0f;
}
*/

/* button styling for name input section */
.respond {
    background-color: #2d5a1b;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    border: none;
    padding: 0.60rem 1rem;
    margin-left: 25%;
    margin-right: 28%;
    border-radius: 1rem;
    font-size: 1rem;
    cursor: pointer;
}


/*.  this will be used to move my badger from the back of the screen to the front ease-out forwards means the apporach will be slower. Forwards means it will stay in the position it ends up in . this will be the animation for the badgers  */
@keyframes badgerBlock1 {
  from{
    transform: translateX(-100%) scale(.5);
    opacity: 0;
  }
    to {
      transform: translateX(0) scale(1);
      opacity: 1;

    }
}

@keyframes badgerBlock2 {
  from{
    transform: translateX(100%) scale(.5);
    opacity: 0;
  }
    to {
      transform: translateX(0) scale(1);
      opacity: 1;

    }
}

/*animation & style for badger 1*/

.badgerBlock1 {

  animation: badgerBlock1 2s ease-out forwards;
  position: absolute;
  bottom: 0;
  left: 15%;
  width: 450px;
  height: auto;

}

/*animation & style for badger 2*/

.badgerBlock2 {

animation: badgerBlock2 1.5s ease-out forwards;
  position: absolute;
  bottom: 0;
  right: 15%;
  width: 450px;
  height: auto;

}

/* separation of state and badgers */


.badgerRow {
  display: flex;
  justify-content: space-between;
  width: 100%;

}



/*styling to add scroll for name input */

.scrollInput {
  background-image: url("/scroll.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  padding-top: 150px;
  padding-left: 20px;
  padding-right: 20px;
  left: 5%;
  width: 400px;
  height: 300px;
}

/* styling to add stone tablet for authentication */

.tabletAuth {

  background-image: url("/tablet.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  padding-top: 150px;
  padding-left: 20px;
  padding-right: 20px;
  left: 5%;
  width: 400px;
  height: 300px;
    font-size: 1rem;
    border-radius: 0.5rem;
}




/* styling for the authentication tablet text */
.heartCheck {
    background-color: rgba(207, 168, 52, 0.574);
    box-shadow: #1a3a0f;
    min-height: 1.5rem;
    padding-right: 5%;
    margin-left: 20%;
    width: 50%;
    font-size: 1rem;
    border-radius: 0.5rem;
}